body {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: none;
}

.spinner {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;

  -webkit-animation: rotation 0.8s linear infinite;
  -moz-animation: rotation 0.8s linear infinite;
  -o-animation: rotation 0.8s linear infinite;
  animation: rotation 0.8s linear infinite;

  border-left: 5px solid rgb(235, 235, 235);
  border-right: 5px solid rgb(235, 235, 235);
  border-bottom: 5px solid rgb(235, 235, 235);
  border-top: 5px solid rgb(120, 120, 120);

  border-radius: 100%;
  background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#status {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(120, 120, 120);
}

#progress {
  height: 20px;
  width: 300px;
}

#header {
  text-align: center;
  font-weight: 700;
}

label {
  font-weight: 400;
}

#content {
  display: flex;

  margin: 0 16px;
  gap: 16px;
}

#canvas {
  border: 2px solid black;
  border-radius: 4px;
  background-color: black;
}

#controls-div {
  width: 100%;
  padding: 16px 32px;

  border: 2px solid black;
  border-radius: 4px;
}

label {
  display: block;
}

.range-box {
  display: flex;
  gap: 8px;

  align-items: center;

  margin-bottom: 16px;
}

.range-span {
  width: 32px;
  text-align: center;

  font-weight: 300;
  font-size: 10pt;
}

input[type="range"] {
  width: 320px;
}

.range-current {
  margin-left: 24px;
  text-align: end;
}
